main {
    max-width: 1200px;
    margin: auto;
}
/*css-menu*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px ;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: white; 
}

.bars {
    display: none;
}
.nav-bar ul {
    display: flex;
}
.nav-bar ul li a {
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius:  15px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover {
    background-color: blueviolet;
}
.nav-bar ul li a.active {
    background-color: blueviolet;
}
/*boton de descarga*/
button[type="submit"] {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FFEFBA;
    border-radius: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
    transition: background 0.25s, color 0.25s;
  }
  /*demas estilos del texto*/
h2  {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 36px;
}
h3 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
dl {
  
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    background-color:#478d89;
    border-radius: 20px;
    background-size: 80%;
    
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    margin-left: 5%;
    
    margin-right: 5%
}
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: normal;
      display:flex;
      justify-content: center;
      align-items: center;
      line-height: 1.2;
      text-align: center;
      margin-top:  20px;
      margin-bottom: 20px;
      margin: 10px;
  
}
#op {
    float:middle;
    background: #af599e;
  }
/*imagen*/
img {
    border-radius: 50%;
    border: 3px solid black;
    
}
.sol {

    display: flex;
  justify-content: center;
  
  

}

  /*media query*/
@media(max-width:900px) {
    /*menu*/
    header{
        padding: 0px 30px;
    }
    .bars{
        display: block;
        cursor: pointer;
    }
    .bars .line{
        width: 30px ;
        height: 3px;
        background-color: white;
        margin: 6px 0px;
    }
    .nav-bar{
        height: 0px;
        position: absolute;
        top:80px;
        left: 0;
        right:0;
        width:100vw;
        background-color: #2E2E34;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 20px;
    }

    /*imagenes de los link*/

    .parent {
        justify-content: center;
          display:flex;
          gap: 20px;
        }
}
/*tablet*/
@media screen and (min-width: 900px) and (max-width: 1200px){
    
    
    h2{
        font-size: 31px;
      }
      h3{
        font-size: 31px;
      }
      h4{
        font-size: 25px;
      }
      p{
        font-size: 21px; ;
      }
      dl{
        font-size: 23px;
      }
      .parent {
        justify-content: center;
          display:flex;
          gap: 40px;
        }
    .sol{
        display: flex;
  justify-content: center;
    }
}
/*escritorio*/
@media screen and (min-width: 1200px) {
    .sol{
     
      float:left;
      margin-left: 5%;
      margin-right:5%;
 
    }
    
    
    h2{
      font-size: 32px;
    }
    h3{
      font-size: 32px;
    }
    h4{
      font-size: 25px;
    }
    p{
      font-size: 22px; ;
    }
    dl{
      font-size: 24px;
      
    }
    .parent {
    justify-content: center;
      display:flex;
      gap: 50px;
    }
}

